<h1 class="mt-4">Yönetim Paneli</h1>
<p class="lead mb-3">Hoşgeldiniz, <%= user.name %></p>
<%- include('partials/messages.ejs') %>
<div class="container">
  <button onclick="window.print()" class="btn btn-primary"><i class="fas fa-print"></i> Yazdır</button>
  <table class="table table-striped table-responsive">
    <thead>
      <tr>
        <th>Öğrenci Adı</th>
        <th>Okul Adı</th>
        <th>Okul Numarası</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% for (var j = 0; j < data.length; j++) { %>
      <tr>
        <td><%= data[j]["studentName"] %></td>
        <td><%= data[j]["schoolName"] %></td>
        <td><%= data[j]["schoolNumber"] %></td>
        <td>
          <i class="fas fa-info-circle me-2" data-bs-toggle="modal" data-bs-target="#detailsModal<%= j %>"></i>
          <i class="fas fa-plus me-2" data-bs-toggle="modal" data-bs-target="#attendanceModal<%= j %>"></i>
          <a href="#" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal<%= j %>"><i class="fas fa-trash-alt me-2 text-danger"></i></a>

          <div class="modal fade" id="attendanceModal<%= j %>" tabindex="-1" aria-labelledby="attendanceModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="attendanceModalLabel">Yoklama Al</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <form method="POST" action="/student/id_<%= data[j]["_id"] %>/attendance">
                    <div class="mb-3">
                      <label for="date" class="form-label">Tarih:</label>
                      <input type="date" class="form-control" id="date" name="date" value="<%= new Date().toISOString().substr(0, 10) %>">
                    </div>
                    <div class="mb-3">
                      <label for="courseExitTime" class="form-label">Kurs Çıkış Zamanı:</label>
                      <input type="time" class="form-control" id="courseExitTime" name="courseExitTime">
                    </div>
                    <div class="mb-3">
                      <label for="courseLateTime" class="form-label">Course Late Time:</label>
                      <input type="time" class="form-control" id="courseLateTime" name="courseLateTime">
                    </div>
                    <div class="mb-3">
                      <label for="courseDinnerTime" class="form-label">Akşam Yemeği Zamanı:</label>
                      <select class="form-select" id="courseDinnerTime" name="courseDinnerTime">
                        <option value="true">Yes</option>
                        <option value="false">No</option>
                      </select>
                    </div>
                    <div class="mb-3">
                      <label for="firstStudyTime" class="form-label">İlk Etüt:</label>
                      <select class="form-select" id="firstStudyTime" name="firstStudyTime">
                        <option value="true">Var</option>
                        <option value="false">Yok</option>
                      </select>
                    </div>
                    <div class="mb-3">
                      <label for="secondStudyTime" class="form-label">İkinci Etüt:</label>
                      <select class="form-select" id="secondStudyTime" name="secondStudyTime">
                        <option value="true">Var</option>
                        <option value="false">Yok</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="attendance">Yoklama:</label>
                      <select class="form-select" id="attendance" name="attendance">
                        <option value="true">Mevcut</option>
                        <option value="false">Mevcut Değil</option>
                      </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Kaydet</button>
                  </form>

                </div>

              </div>
            </div>
          </div>

          <div class="modal fade" id="confirmDeleteModal<%= j %>" tabindex="-1" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="confirmDeleteModalLabel">Öğrenci Silme İşlemi</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <p>Öğrenciyi sistemden silmek istediğinize emin misiniz?</p>
                </div>
                <div class="modal-footer">
                  <form method="POST" action="/student/delete_<%= data[j]["_id"] %>">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">İptal</button>
                    <button type="submit" class="btn btn-danger">Sil</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </td>
      </tr>

      <div class="modal fade" id="detailsModal<%= j %>" tabindex="-1" aria-labelledby="detailsModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="detailsModalLabel">Öğrenci Detayları</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <p><strong>Öğrenci Adı:</strong> <%= data[j]["studentName"] %></p>
              <p><strong>Telefon Numarası:</strong> <%= data[j]["studentPhoneNumber"] %></p>
              <p><strong>Veli Telefon Numarası:</strong> <%= data[j]["parentPhoneNumber"] %></p>
              <p><strong>Okul Adı:</strong> <%= data[j]["schoolName"] %></p>
              <p><strong>Okul Numarası:</strong> <%= data[j]["schoolNumber"] %></p>
              <p><strong>Oda Numarası:</strong> <%= data[j]["roomNumber"] %></p>
              <p><strong>Etüt Sınıfı No:</strong> <%= data[j]["studyClassNo"] %></p>
              <p><strong>Veritabanına Eklenme Tarihi:</strong> <%= data[j]["studentDate"].getDate() %>.<%= data[j]["studentDate"].getMonth()+1 %>.<%= data[j]["studentDate"].getFullYear() %>, <%= data[j]["studentDate"].getHours() %>:<%= data[j]["studentDate"].getMinutes() %></p>
            </div>
            <div class="modal-footer">
              <a href="/student/id_<%= data[j]["_id"] %>/attendance-success?id=<%= data[j]["_id"] %>" class="btn btn-primary" id="addAttendanceButton">Kayıtları Göster</a>
            </div>
          </div>
        </div>
      </div>
      <% } %>
    </tbody>
  </table>
</div>


<a href="/student/add" class="btn btn-success">Öğrenci Ekle</a>
<a href="/users/logout" class="btn btn-secondary">Çıkış Yap</a>