<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card shadow-sm">
        <div class="card-body">
          <h1 class="card-title text-center">
            <i class="fas fa-user-plus"></i> Panel
          </h1>
          <% if (errors && errors.length > 0) { %>
            <script>
              const alertBox = document.querySelector('.alert');
              alertBox.classList.remove('d-none');
            </script>
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
              <% for (let i = 0; i < errors.length; i++) { %>
                <%= errors[i].msg %><br>
              <% } %>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          <% } %>
          <form action="/users/register" method="POST">
            <div class="form-floating mb-3">
              <input type="name" id="name" name="name" class="form-control" placeholder=" " value="<%= typeof name != 'undefined' ? name : '' %>">
              <label for="name">İsim</label>
            </div>
            <div class="form-floating mb-3">
              <input type="number" id="phoneNumber" name="phoneNumber" class="form-control" placeholder=" " value="<%= typeof phoneNumber != 'undefined' ? phoneNumber : '' %>">
              <label for="phoneNumber">Telefon Numarası</label>
            </div>
            <div class="form-floating mb-3">
              <input type="password" id="password" name="password" class="form-control" placeholder=" " value="<%= typeof password != 'undefined' ? password : '' %>">
              <label for="password">Şifre</label>
            </div>
            <div class="form-floating mb-3">
              <input type="password" id="password2" name="password2" class="form-control" placeholder=" " value="<%= typeof password2 != 'undefined' ? password2 : '' %>">
              <label for="password2">Şifreyi Tekrar Girin</label>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Ekle</button>
          </form>
          <p class="lead mt-4">Öğretmenler için <a href="/users/login">panel</a></p>
        </div>
      </div>
    </div>
  </div>
</div>