<div class="row mt-5">
    <div class="col-md-8 m-auto">
        <div class="card card-body text-center">
            <img class="d-flex justify-content-center" src="/images/png.png" alt="bune", width="50", height="50">
            <div class="card-header">
                <h5 class="mb-0"><%= studentData[0]['studentName'] %> Adlı Öğrencinin Yoklama Bilgileri</h5>
            </div>
            <table class="table table-striped table-responsive">
                <thead>
                <tr>
                    <th scope="col">Tarih</th>
                    <th scope="col">Ders Çıkış Zamanı</th>
                    <th scope="col">Ders Giriş Zamanı</th>
                    <th scope="col">Akşam Yemeği</th>
                    <th scope="col">1. Etüt Zamanı</th>
                    <th scope="col">2. Etüt Zamanı</th>
                    <th scope="col">Yoklama</th>
                </tr>
                </thead>
                <tbody>
                <% student.forEach(attendance => { %>
                    <tr>
                        <td><%= attendance.date.toISOString().slice(0, 10) %></td>
                        <td><%= attendance.courseExitTime %></td>
                        <td><%= attendance.courseLateTime %></td>
                        <td><%= attendance.courseDinnerTime ? 'Var' : 'Yok' %></td>
                        <td><%= attendance.firstStudyTime ? 'Var' : 'Yok' %></td>
                        <td><%= attendance.secondStudyTime ? 'Var' : 'Yok' %></td>
                        <td><%= attendance.attendance ? 'Mevcut' : 'Mevcut Değil' %></td>
                    </tr>
                <% }); %>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    <% if (student && student.length > 0) { %>
    const student = <%= JSON.stringify(student) %>;
    <% } else { %>
    alert('Kayıt bulunamadı!');
    window.location.href = '/dashboard';
    <% } %>
</script>

