<div class="row mt-5">
  <div class="col-md-8 m-auto">
    <button onclick="window.print()" class="btn btn-primary"><i class="fas fa-print"></i> Yazdır</button>
    <div class="card card-body text-center">
      <img class="d-flex justify-content-center" src="/images/png.png" alt="bune" width="50" height="50">
      <div class="card-header">
        <h5 class="mb-0"><%= studentData[0]['studentName'] %> Adlı Öğrencinin Yoklama Bilgileri</h5>
      </div>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Tarih</th>
              <th scope="col">Ders Çıkış Zamanı</th>
              <th scope="col">Ders Giriş Zamanı</th>
              <th scope="col">Akşam Yemeği</th>
              <th scope="col">1. Etüt Zamanı</th>
              <th scope="col">2. Etüt Zamanı</th>
              <th scope="col">Yoklama</th>
            </tr>
          </thead>
          <tbody>
            <% student.forEach(attendance => { %>
            <tr>
              <td><%= attendance.date.toISOString().slice(0, 10) %></td>
              <td><%= attendance.courseExitTime %></td>
              <td><%= attendance.courseLateTime %></td>
              <td><%= attendance.courseDinnerTime ? 'Var' : 'Yok' %></td>
              <td><%= attendance.firstStudyTime ? 'Var' : 'Yok' %></td>
              <td><%= attendance.secondStudyTime ? 'Var' : 'Yok' %></td>
              <td><%= attendance.attendance ? 'Mevcut' : 'Mevcut Değil' %></td>
              <td><i class="fa fa-pencil-alt me-2" data-bs-toggle="modal" data-bs-target="#editModal_<%= attendance._id %>"></i></td>
              <td><<a href="#" data-bs-toggle="modal" data-bs-target="#deleteModal_<%= attendance._id %>"><i class="fas fa-trash-alt me-2 text-danger"></i></a>/td>

            </tr>
            <div class="modal fade" id="editModal_<%= attendance._id %>" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="editModalLabel">Yoklama Bilgisi Düzenle</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <form method="POST" action="/student/id_<%= attendance.studentId %>/attendanceUpdate">
                      <input type="hidden" id="attendanceId" name="attendanceId" value="<%= attendance._id %>">
                      <input type="hidden" id="studentId" name="studentId" value="<%= attendance.studentId %>">
                      <div class="mb-3">
                        <label for="date" class="form-label">Tarih:</label>
                        <input type="date" class="form-control" id="date" name="date" value="<%= attendance.date.toISOString().slice(0, 10) %>">
                      </div>
                      <div class="mb-3">
                        <label for="courseExitTime" class="form-label">Kurs Çıkış Zamanı:</label>
                        <input type="time" class="form-control" id="courseExitTime" name="courseExitTime" value="<%= attendance.courseExitTime %>">
                      </div>
                      <div class="mb-3">
                        <label for="courseLateTime" class="form-label">Course Late Time:</label>
                        <input type="time" class="form-control" id="courseLateTime" name="courseLateTime" value="<%= attendance.courseLateTime %>">
                      </div>
                      <div class="mb-3">
                        <label for="courseDinnerTime" class="form-label">Akşam Yemeği Zamanı:</label>
                        <select class="form-select" id="courseDinnerTime" name="courseDinnerTime">
                          <option value="true">Yes</option>
                          <option value="false">No</option>
                        </select>
                      </div>
                      <div class="mb-3">
                        <label for="firstStudyTime" class="form-label">İlk Etüt:</label>
                        <select class="form-select" id="firstStudyTime" name="firstStudyTime">
                          <option value="true">Var</option>
                          <option value="false">Yok</option>
                        </select>
                      </div>
                      <div class="mb-3">
                        <label for="secondStudyTime" class="form-label">İkinci Etüt:</label>
                        <select class="form-select" id="secondStudyTime" name="secondStudyTime">
                          <option value="true">Var</option>
                          <option value="false">Yok</option>
                        </select>
                      </div>
                      <div class="form-group">
                        <label for="attendance">Yoklama:</label>
                        <select class="form-select" id="attendance" name="attendance">
                          <option value="true">Mevcut</option>
                          <option value="false">Mevcut Değil</option>
                        </select>
                      </div>
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                      <button type="submit" class="btn btn-primary">Kaydet</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal fade" id="deleteModal_<%= attendance._id %>" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Öğrenci Yoklaması İşlemi</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <p>Öğrenciyi yoklamasını silmek istediğinize emin misiniz?</p>
                  </div>
                  <div class="modal-footer">
                    <form method="POST" action="/student/deleteAtt_<%= attendance._id %>">
                      <input type="hidden" id="studentId" name="studentId" value="<%= attendance.studentId %>">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">İptal</button>
                      <button type="submit" class="btn btn-danger">Sil</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <% }); %>
          </tbody>
        </table>
      </div>
      <a class="btn btn-primary mt-3" href="/dashboard">Geri Dön</a>
    </div>
  </div>
</div>